---
import "swiper/css";
---

<section class="depoimentos">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-content">
          <h4>Clientes</h4>
          <p>
            “Profissionais competentes e extremamente cuidadosos em cada passo
            do processo, passando segurança ao cliente com laudos bem
            detalhados. Fica a minha recomendação à empresa e os meus parabéns à
            equipe pelo serviço de excelência que apresentam."
          </p>
          <div class="swiper__slide-cliente">
            <img src="/swiper/Leticia Mendonca.png" alt="" />
            <div>
              <span>Letícia Mendonça Cardoso</span>
              <span>Google Review</span>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-content">
          <h4>Clientes</h4>
          <p>
            “Ficamos muito satisfeitos com o trabalho realizado pela empresa.
            Recebemos muita atenção em todos os detalhes e o resultado final não
            podia ter sido melhor."
          </p>
          <div class="swiper__slide-cliente">
            <img src="/swiper/Isabela Farha.png" alt="" />
            <div>
              <span>Isabela Farha</span>
              <span>Risco Rabisco</span>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-content">
          <h4>Clientes</h4>
          <p>
            “Compromisso e qualidade sempre, entregou o parecer técnico com
            rapidez e com muitos detalhes."
          </p>
          <div class="swiper__slide-cliente">
            <img src="/swiper/Dra Ana Clara Nunes.png" alt="" />
            <div>
              <span>Dra. Ana Clara Nunes</span>
              <span>Advogada</span>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-content">
          <h4>Clientes</h4>
          <p>
            “Excelente. Profissionais comprometidas, capacitadas e atenciosas.
            Indico sem a menor dúvida."
          </p>
          <div class="swiper__slide-cliente">
            <img src="/swiper/Flavia Alo.png" alt="" />
            <div>
              <span>Flávia Aló</span>
              <span>Google Review</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<style lang="scss">
  :root {
    --swiper-pagination-color: var(--neutral-color-100);
    --swiper-pagination-bullet-size: 15px;
    --swiper-pagination-bullet-width: 15px;
    --swiper-pagination-bullet-height: 15px;
    --swiper-pagination-bullet-horizontal-gap: 5px;
    --swiper-pagination-bullet-inactive-color: #ffffff;
    --swiper-pagination-bullet-inactive-opacity: 0.4;
  }
  .depoimentos {
    margin-top: -2rem;
    padding-bottom: 2rem;
  }

  .swiper {
    width: 100%;
  }

  .swiper-slide {
    background-color: #fff;
    border-radius: 2rem;
    padding: 3rem;
    font-family: var(--ff-space-grotesk);
    height: fit-content;
    letter-spacing: 0.001em;
    cursor: grab;

    .swiper-content {
      display: flex;
      flex-direction: column;
      gap: 2.25rem;

      h4 {
        font-size: 1.7rem;
        padding: 0.7em 1.2em;
        background-color: var(--primary-color-400);
        width: fit-content;
        font-weight: 300;
        text-transform: uppercase;
      }

      p {
        font-size: clamp(1rem, 2vw, 3.5rem);
        color: var(--neutral-color-900);
        font-weight: 500;
      }

      .swiper__slide-cliente {
        display: flex;
        gap: 1.5rem;

        img {
          height: 50px;
          width: 50px;
        }

        div {
          color: var(--neutral-color-700);
          font-size: 1.5rem;

          display: flex;
          flex-direction: column;
          justify-content: center;

          span:last-child {
            font-weight: 300;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1249px) {
    .swiper-slide {
      padding: 2.75rem;

      .swiper-content {
        gap: 1.5rem;

        h4 {
          font-size: 1.375rem;
        }

        .swiper__slide-cliente {
          img {
            height: 40px;
            width: 40px;
          }

          div {
            font-size: 1rem;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 900px) {
    :root {
      --swiper-pagination-bullet-size: 10px;
      --swiper-pagination-bullet-width: 10px;
      --swiper-pagination-bullet-height: 10px;
      --swiper-pagination-bullet-horizontal-gap: 5px;
    }

    .swiper-slide {
      padding: 1.75rem;

      .swiper-content {
        gap: 1.25rem;

        h4 {
          font-size: 1.125rem;
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .swiper-slide {
      padding: 1.5rem;

      .swiper-content {
        gap: 1.25rem;

        h4 {
          font-size: 1rem;
        }

        .swiper__slide-cliente {
          img {
            height: 30px;
            width: 30px;
          }

          div {
            font-size: 0.875rem;
          }
        }
      }
    }
  }
</style>

<script>
  import Swiper from "../../../node_modules/swiper/swiper-bundle.min.mjs";

  const not_active_slide_scale_value = 0.75;
  const not_active_slide_opacity_value = 0.6;

  const swiper = new Swiper(".swiper", {
    direction: "horizontal",
    loop: true,
    slidesPerView: 1.1,
    effect: "creative",
    autoplay: {
      delay: 5000,
    },
    creativeEffect: {
      limitProgress: 2, // slides after 2nd before/after active will have same state
      prev: {
        opacity: not_active_slide_opacity_value,
        scale: not_active_slide_scale_value,
        translate: ["-100%", 0, 0],
      },
      next: {
        opacity: not_active_slide_opacity_value,
        scale: not_active_slide_scale_value,
        translate: ["100%", 0, 0],
      },
    },
    spaceBetween: 0,
    breakpoints: {
      "600": {
        slidesPerView: 1.3,
        spaceBetween: 0,
      },
      "901": {
        slidesPerView: 1.4,
        spaceBetween: 50,
      },
      "1200": {
        slidesPerView: 1.75,
        spaceBetween: 100,
      },
    },
    centeredSlides: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>
